<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--BY DEFAULT ALL PORTABLE APPS HAVE 'Portable' in their name -->
    <add key="PortableAppPattern" value="*Portable.exe"/>
    <!--This string will always be removed when generating a shortcut. Eg: remove ugly 'Portable' keyword, make it seem real! -->
    <add key="ShortcutBeautifierString" value="Portable"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
